# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter notebooks
.ipynb_checkpoints

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Secrets
.streamlit/secrets.toml

# VSCode settings
.vscode/

# Python virtual environment
env/
env.bak/
venv/
venv.bak/

# Local database
*.sqlite3

# PyInstaller
*.manifest
*.spec

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python cache
*.pyc
__pycache__/
